---
layout: page
title: "About"
description: "Hey, this is Tyrion."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        对爱情的渴望，对知识的追求，对人类苦难不可遏制的同情，是支配我一生的单纯而强烈的三种感情。
    </blockquote>
    这些感情如阵阵飓风，吹拂在我动荡不定的生涯中，有时甚至吹过深沉痛苦的海洋，直抵绝望的边缘。<br><br>
    我所以追求爱情有三方面的原因。<br><br>
    首先，爱情有时给我带来狂喜，这种狂喜竟如此有力，以致使我常常会为了体验几小时的爱的喜悦，而宁愿牺牲生命中其他的一切。<br><br>
    其次，爱情可以摆脱孤寂——身历那种可怕孤寂的人的战栗意识有时会由世界的边缘，观察到冷酷无生命的无底深渊。<br><br>
    最后，在爱的结合中，我看到了古今圣贤以及诗人们所梦想的天堂的缩影，这正是我所追寻的人生境界。<br><br>
    虽然它对一般的人类生活也许太美好，但这正是我透过爱情所得到的最终发现。<br><br>
    我曾以同样的感情追求知识，我渴望去了解人类的心灵，也渴望知道星星为什么会发光，同时我还想理解毕达哥拉斯的力量。<br><br>
    爱情与知识的可及领域，总是引领我到天堂的境界，可对人类苦难的同情却经常把我带回现实世界。<br><br>
    那些痛苦的呼唤经常在我内心深处激起回响，饥饿中的孩子，被压迫被折磨着，给子女造成重担的孤苦无依的老人，以及全球无情的孤独、贫穷和痛苦的存在，是对人类生活理想的无视和讽刺。<br><br>
    我常常希望能尽自己的微薄之力去减轻这不必要的痛苦，但我发现我完全失败了，因此我自己也感到很痛苦。<br><br>
    这就是我的一生，我发现人是值得活的。如果有谁再给我一次生活的机会，我将欣然接受这难得的赐予。
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>
        Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.
    </p>

    <p>
    If you want to live your life in a creative way, as an artist, you have to not look back too much. You have to be willing to take whatever you’ve done and whoever you were and throw them away.
    </p>

    <p style="text-align:right;">
    -- Steve Jobs
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
